*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

#idea folder
.idea/

.DS_Store
/build
/captures

/buildSrc/build
/buildSrc/.gradle

.externalNativeBuild
.cxx
local.properties
